.container {
    @apply mx-10 mt-20;

    .searchbar {
        cursor: pointer;
        // border-radius: 60px;
        border-radius: 6px;
        background-color: #FFFFFF;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px 0px rgb(194, 194, 194);

        .input {
            @apply leading-5;

            .search-container {
                @apply p-2 rounded-full w-9 h-6 flex items-center justify-center;


                .search-icon {
                    @apply w-6 h-6 text-xl;
                }
            }
        }
    }
}