.container{
    @apply shadow-xl w-fit overflow-hidden h-screen fixed;
    border-right: 1px solid #dadcdf;

    background: linear-gradient(0deg, #f4f5f8, #f4f5f8),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);

    // border-right: 1px solid black;
    z-index: 2;


    .logo-wrapper{
        @apply flex items-center pt-8 pb-16 ml-6 ;
        // .logo{
        //     @apply w-24 h-auto mr-4;
        //     filter: brightness(0) saturate(100%) invert(18%) sepia(22%) saturate(6647%) hue-rotate(248deg) brightness(83%) contrast(120%);
        //     // filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        // }

        .title{
            @apply text-xl text-purple_golden font-bold;
        }
    }

   

    .menu{
        @apply  text-lg text-gray_main font-semibold overflow-hidden;
        
        background: linear-gradient(0deg, #f4f5f8, #f4f5f8),
            linear-gradient(0deg, #FFFFFF, #FFFFFF);
        border-right: 4px solid rgba(0, 0, 0, 0.04);
        width: 360px;
    }
}