@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.swiper-button-next,
.swiper-button-prev {
    background-color: #cccccc !important;
    padding: 20px;
    border-radius: 50%;
    max-width: 12px !important;
    max-height: 12px !important;
    color: rgba(0,0,0,0.5);
    fill: black !important;
    stroke: black !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
font-size: 13px !important;
  
}
