.container{
    // @apply mx-20;
    @apply flex flex-col ;
    .header{
        @apply pt-16 px-60;
        background-color: #FAFEFF;
        .title{
            @apply text-blue_geek text-xl font-medium;

        }
        .body{
            @apply text-gray_title font-bold m-0 flex ;
            font-size: 38px;
        }
    }
    .course-container{
        @apply grid grid-cols-3 gap-x-20 gap-y-9 pt-16 px-60 pb-24;
        background-color: #FAFEFF
    }

    .tutor-container{

        .header{
            @apply px-60 pb-24 bg-white;

            .title{
                @apply p-0;
            }

            .body{
                @apply font-bold p-0;
                font-size: 40px;
                color: #5F6368
            }
        }

        .slider{
            @apply px-28 mx-20 pb-32;
        }
    }
}