.container{
    @apply flex flex-col ;
    .header{
        @apply mt-16 mx-36;
        .title{
            @apply text-blue_geek text-xl font-medium;

        }
        .body{
            @apply text-gray_main font-bold m-0 flex ;
            font-size: 40px;
        }
    }
    .course-container{
        @apply grid grid-cols-3  gap-x-10 gap-y-9 mt-16 mx-36;
    }

    .tutor-container{
        @apply mt-24;

        .header{
            @apply mx-36 mb-24;
            .title{
                @apply p-0;
            }

            .body{
                @apply font-bold p-0;
                font-size: 40px;
                color: #5F6368
            }
        }

        .slider{
            @apply mx-24;
        }
    }
}