.container{
    margin-left: 360px;
    margin-right: 260px;
    .header{
        @apply mt-20;
        p{
            @apply mb-13 font-semibold;
            font-size: 32px;
        }
    }

    .body{
        .title{
            @apply text-xl font-semibold pl-10;
        }

        .img-wrapper{
            @apply flex justify-center;
            span {
            cursor: pointer;

            }

          .img{
          }

          .description{
            @apply text-center text-lg text-purple_golden font-medium;
          }
        }
    }
}